:root {
	--color-primary: #2b7fff;
	--color-primary-dark: #011c44;
	--color-white: #ffffff;
}

body {
	font-family: 'Roboto' sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: var(--color-primary-dark);
}
ul {
	list-style-type: none;
}

.button {
	color: var(--color-white);
	background-color: var(--color-primary);
	font-weight: 600;
	border: 2 solid var(--color-primary);
	border-radius: 8px;
	cursor: pointer;
}

.button:hover {
	background-color: transparent;
	color: var(--color-primary-dark);
}

.link {
	color: var(--color-primary-dark);
	text-decoration: none;
}

.link:hover {
	color: var(--color-primary);
	font-weight: 700;
}
/*секція 1*/
.hero-title {
	font-size: 140px;
	font-weight: 700;
	line-height: 1.2;
	text-align: left;
	text-transform: capitalize;
	color: var(--color-primary);
}
/*секція 2*/

.about-clinic {
	font-size: 64px;
	font-weight: 700;
	line-height: 1.2;
}

.about-clinic .accent {
	color: var(--color-primary);
	text-transform: capitalize;
}

.text-about-clinic {
	font-size: 22px;
	line-height: 1.7;
}

.text-about-clinic .accent {
	font-weight: 600;
	text-transform: capitalize;
}
/*секція 3*/

.robbing-us {
	font-size: 64px;
	font-weight: 700;
	line-height: 1.3;
}

.robbing-us .accent {
	color: var(--color-primary);
}
/*секція 4*/

.procedures {
	font-size: 64px;
	font-weight: 700;
}
.procedures .accent {
	color: var(--color-primary);
}
/*секція 5*/

.find-us {
	font-size: 64px;
	font-weight: 700;
}

.find-us .accent {
	color: var(--color-primary);
}
/*Footer*/

.address-link {
	font-size: 16px;
	text-decoration: none;
	color: var(--color-white);
}

.address-link:hover {
	color: var(--color-primary);
}

.address-copyright {
	font-size: 13px;
}
