:root {
	--color-primary: #2b7fff;
	--color-primary-dark: #011c44;
	--color-white: #ffffff;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

a {
	display: inline-block;
}

.container {
	width: 100%;
	max-width: 1288px;
	margin: 0 auto;
	padding: 0 24px;
}

body {
	font-family: 'Roboto' sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: var(--color-primary-dark);
	margin: 0;
}
ul {
	list-style-type: none;
}
/*Header*/
.header-item {
}

.header-nav {
	display: flex;
	gap: 240px;
	align-items: center;
}

.header-link {
	display: flex;
	gap: 56px;
	padding: 0;
}

.header-contact {
	display: flex;
	gap: 32px;
	padding: 0;
}

.button {
	color: var(--color-white);
	background-color: var(--color-primary);
	font-weight: 600;
	border: 2 solid var(--color-primary);
	border-radius: 8px;
	cursor: pointer;
}

.button:hover {
	background-color: transparent;
	color: var(--color-primary-dark);
}

.link {
	color: var(--color-primary-dark);
	text-decoration: none;
}

.link:hover {
	color: var(--color-primary);
	font-weight: 700;
}

.section {
	padding: 48px 0;
}
/*секція 1*/

.hero-section {
	padding: 123px 0 127px 0;
}
.hero-title {
	font-size: 140px;
	font-weight: 700;
	line-height: 1.2;
	text-align: left;
	text-transform: capitalize;
	color: var(--color-primary);
}
/*секція 2*/
.about-section {
	padding-top: 40px;
}

.about-and-photo {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 28px;
}

/* Ліва колонка — текст */
.flex-text {
	flex: 1; /* займає половину */
	max-width: 50%; /* щоб точно не більше половини */
}

/* Права колонка — фото */
.flex-images {
	flex: 1;
	max-width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* одна картинка вгорі, інша внизу */
	height: 100%; /* щоб блок тягнувся на всю висоту */
	gap: 29px;
}

/* Перша картинка зверху зліва */
.image-one {
	align-self: flex-start;
	width: 335px;
	height: 328px;
}

/* Друга картинка знизу справа */
.image-two {
	align-self: flex-end;
	width: 343px;
	height: 328px;
}

.about-clinic {
	font-size: 64px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 40px;
	width: 529px;
}

.about-clinic .accent {
	color: var(--color-primary);
	text-transform: capitalize;
}

.text-about-clinic {
	font-size: 22px;
	line-height: 1.7;
	margin-bottom: 40px;
}

.margin-aboute {
	margin-bottom: 199px;
}

.text-about-clinic .accent {
	font-weight: 600;
	text-transform: capitalize;
}
/*секція 3*/

.list-style {
	flex-basis: calc((100%-56px) / 3);
	text-align: center;
	background-color: #ffffff;
	border-radius: 32px;
	box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
	padding: 24px 32px;
}

.robbing-title {
	font-size: 64px;
	font-weight: 700;
	line-height: 1.3;
	text-align: center;
}

.robbing-title .accent {
	color: var(--color-primary);
}

.robbing-list {
	display: flex;
	justify-content: center;
	padding: 0;
	gap: 56px;
}

/*секція 4*/

.procedures {
	font-size: 64px;
	font-weight: 700;
	text-align: center;
}
.procedures .accent {
	color: var(--color-primary);
}

.procedures-images {
	display: flex;
	align-items: center;
	gap: 32px;
}

.carousel-button {
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--color-primary-dark);
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid var(--color-primary-dark);
	cursor: pointer;
}

.carousel-button:hover {
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
	fill: #fff;
}

/*секція 5*/

.find-us {
	font-size: 64px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 48px;
}

.find-us .accent {
	color: var(--color-primary);
}

.find-us-block {
	display: flex;
	justify-content: space-between;
	gap: 32px;
}

.map {
	width: 605px;
	height: 481px;
	width: 100%;
	display: flex;
	flex: 1;
	border-radius: 32px;
}

.form {
	width: 423px;
	background-color: #011c44;
	border-radius: 32px;
}

/*Footer*/
.footer {
	background-color: #011c44;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 186px;
	padding: 56px 100px;
}

.footer-nav-logo {
	display: flex;
	margin: 0;
	padding: 0;
	gap: 186px;
}

.footer-nav ul {
	padding: 0;
	margin: 0;
}

.footer-address {
	display: flex;
	margin: 0;
	padding: 0;
	gap: 186px;
}
.footer-address ul {
	padding: 0;
	margin: 0;
}

.footer-nav .link {
	color: #fff;
}

.address-link {
	font-size: 16px;
	text-decoration: none;
	color: var(--color-white);
}

.address-link:hover {
	color: var(--color-primary);
}

.footer-icon {
	fill: #fff;
}

.address-copyright {
	font-size: 13px;
	font-weight: 400;
	color: #747272;
	padding-top: 16px;
}
